<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Products List</title>
    <link rel="stylesheet" th:href="@{css/style.css}">
</head>
<body>
    <h1>Products List:</h1>
    <div>
        <a href="/products/create"><button type="button">Add Product</button></a>
    </div>
    <div>
        <table class="main-table">
            <thead>
                <tr>
                    <th>Id</th>
                    <th>Name</th>
                    <th>Category</th>
                    <th>Price ($)</th>
                    <th>Stock Amount</th>
                </tr>
            </thead>
            <tbody th:each="product : ${products}">
                <tr>
                    <td th:text="${product.getId()}">A</td>
                    <td th:text="${product.getName()}">B</td>
                    <td><a th:text="${product.getCategoryName()}"
                           th:href="'/products?categoryId=' + ${product.getCategoryId()}">C</a></td>
                    <td th:text="${product.getPrice()}">D</td>
                    <td th:text="${product.getStockAmount()}">E</td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>